body {
    background-color:#4db6ac;
}
.header {
    background-color: black;
    color: white;
    font-family: Galada, cursive;
    font-size: 500%;
    text-align: center;
    text-shadow: 3px 1px #4db6ac;
}
#headerText {
    font-size: 150%;

}

.sidebar{
    background-color: #4db6ac;
    height: 100%;
    border-right:1px solid black;
    font-family: Amaranth, cursive;
    font-size: 70%;
}
.hide {
    display:none;
}

img{
    width:170px;
    height:150px;
}
.button {
    background-color:#1B403C;
    font-family: Amaranth, cursive;
}

#camera-stream{
    width: 170px;
    height: 150px;
}

#start-camera {
    width:170px;
    font-size: 200%;
}

.musicbar{
    font-family: Amaranth,cursive;
    background:#4db6ac;

    
}
.playlistContainer {
    width:260px;
    height:270px;
    float:left;
    margin:5px;
    text-align: center;
    align-content: center;
}
.albumSize{
    width:150px;
    height:150px;
}

#snapshotText {
    font-size: 150%;
}

img[src=""]:empty {
    display: none;
 }

 ::placeholder { 
        color: gray;
        opacity: 3;
}